.users-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.users-heading {
  font-size: 20px;
}

.user-box {
  display: flex;
}

.user-img {
  width: 300px
}

.user-info-box {
  display: flex;
}

.user-name {
  font-size: 15px;
}

.user-post-count {
  font-size: 15px;
}
