/* Users-index */

.users-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-dec {
  text-decoration: none;
}

.users-heading {
  font-size: 20px;
}

.user-box {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

.user-img {
  width: 200px;
}

.user-info-box {
  display: flex;
  gap: 50px;
  border: 2px solid #000;
  padding: 10px;
}

.user-name {
  font-size: 20px;
}

.user-post-count {
  font-size: 15px;
}

/* user-show */

.user-show-c {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-bio {
  border: 2px solid #000;
  width: 400px;
  text-align: center;
  padding: 20px;
}

.user-recent-post {
  display: flex;
  flex-direction: column;
  border: 2px solid #000;
  margin-bottom: 20px;
  width: 400px;
}

.user-post-counters {
  align-self: flex-end;
}

/* posts-index */

.posts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.posts-info {
  display: flex;
  flex-direction: column;
  border: 2px solid #000;
  margin-bottom: 20px;
  width: 400px;
}

.post-comments {
  display: flex;
  flex-direction: column;
  border: 2px solid #000;
  margin-bottom: 20px;
  width: 400px;
}

/* post-show */

.post-show-c {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-inf-box {
  display: flex;
  justify-content: space-between;
}

/* post-new */

.create-post-c {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-form-c {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.post-title-c, .post-text-c {
  padding: 20px;
  width: 400px;
}

.submit-btn {
  padding: 10px;
}

/* add-comment */

.add-comment-c {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.comment-text-c {
  padding: 20px;
  width: 400px;
}